/* 
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.tff');
} 
*/
@font-face {
  font-family: 'ScopeOne';
  src: url('../fonts/ScopeOne-Regular.tff');
} 

* {
  /* font-family: 'Glegoo', serif;
  font-family: 'Domine', serif;
  */
  font-family: 'Scope One', serif;
  
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  /* color: rgb(33, 64, 95); */
}

body {
  height: calc(100vh - 16px);
  position: fixed;
}

body, .global-wrapper, .page-wrapper {
  /* background-size: 1300px !important;
  background-repeat: no-repeat !important;
  background-position-x: 50% !important;
  background-position-y: -275px !important;
  background-attachment: fixed !important; */
  background-size: cover !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-attachment: initial !important;
}

* .fa {
  cursor: pointer;
}

.loader {
  cursor: pointer;
  border-radius: 400px;
  animation: padd-out 3000ms linear infinite;
  -webkit-animation: padd-out 3000ms linear infinite;
}

.circle {
  width: 300px;
  height: 300px;
  margin: 300px;
  box-shadow: none;
  border: none;
  z-index: 2;
  animation: rotate_zoom 1.3s linear infinite;
  -webkit-animation: rotate_zoom 1.3s linear infinite;
}

.crl {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-color: cornsilk;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.crl.c-left {
  left: -50px;
  background-color: #29b354;
}

.crl.c-top {
  top: -50px;
  background-color: #222222;
}

.crl.c-right {
  left: calc(100% + 10px);
  background-color: #3e4095;
}

.crl.c-bottom {
  top: calc(100% + 10px);
  background-color: #fff216;
}

.emblem {
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  background-color: rgb(247, 152, 51);
}

.first {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: -10px;
  left: -8px;
  overflow: hidden;
  background: linear-gradient(45deg, #7299bb, #a5a2a2);
  filter: contrast(0.8);
}

.main-box {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: visible;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.episode-cover {
  background-color: rgba(94, 151, 202, 0.41);
  width: 100%;
}

.content-box {
  height: 95%;
}

.pubdate {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  color: lightgray;
  background-color: #222;
}

.image {
  width: 300px;
  height: 300px;
  top: 15px;
  /* position: absolute; */
}
.download {
  margin-top: 0;
}

.download i {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 2;
  transform: scale(4);
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  -o-transform: scale(4);
}

.text {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.description {
  font-size: 15px;
}

.episode-cover {
  height: 500px;
  text-align: center;
}

.episode-cover div, .episode-cover embed {
  height: 70vh;
  width: 100%
}

.episode-frame, .blog-frame {
  background-color: rgba(94, 151, 202, 0.4);
  width: 75% !important;
}

.episode-fade {
  width: 100%;
  height: 20%;
  bottom: 0;
  position: absolute;
  z-index: 2;
  background: linear-gradient(rgba(0,0,0,0), rgb(189, 189, 189, 0.1));
}

.fold-to-right {
  right: -45vw;
}

.arrow {
  background: url('../icons/arrow1.png');
  background-size: cover;
  filter: invert(0.5);
  -webkit-filter: invert(0.5);
}

.next {
  left: calc(100% - 140px);
}

.previous {
  left: 75px;
}


@media only screen and (max-width: 800px) {

  /* .circle {
    width: 250px;
    height: 250px;
  } */

  .emblem {
    font-size: 150px;
  }

  .first {
    top: -60px;
  }

  .next {
    left: calc(100% - 75px);
  }
  
  .previous {
    left: 25px;
  }

  .image {
    height: 250px !important;
    margin-top: 15px;
  }

}